@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary: #ffbd00;
    --secondary: #ff60ce;
    --background: #0b0016;
    --grey: #9b9eac;
    --light: #fff;
    --dark:#0a0a0a;
    --main-font:'Mitr', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
    --sidePadding: 12%;
}
*{
    box-sizing: border-box;
    font-family: var(--secondary-font);
    /* border: 2px solid teal; */
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
    position: absolute;
    
}


/* main navigation bar */
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--sidePadding);
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    z-index: 300;
}

@media (max-width: 575px) {
    .container {
        max-width: 500px;
    }
    .main-nav {
        padding: 0 5%;
        background-color: var(--dark);
    }
    #Menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        width: 2em;
        color: var(--primary);
        background-color: var(--dark);
        border: 1px solid var(--primary);
    }
    #Nav-Elm {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--dark);
      }
      
    .main-nav-element{    
       padding: 1em;
    }
  }


  @media (min-width: 576px) and (max-width: 992px){
   .main-nav{
       padding: 0 10% ;
       margin: 0;
   }
   
    #Menu{
        visibility: hidden;
    }

    #Nav-Elm {
        visibility: visible;
        margin: 0 ;
        padding: 0;
    }
  }

  @media (min-width: 756px){

  }
  
.main-nav.fixed{
   position: fixed;
   background-color: var(--dark);
  animation: showNav 500ms ease-in;
} 

@keyframes showNav{
    from{
      transform: translateY(-5em);
    }  
    to{
      transform: translateY(0);
    }
} 


.nav-logo{
    height: 5em;
    width: 6em;
    display: flex;
    align-items: center;
}


#Nav-Elm{
    display: flex;
    margin: 0 0 0 auto;
}
.main-nav-element, .hover-element{
    list-style: none;
    text-transform: uppercase;
    margin: auto 0.3em;
    font-weight: 700;
}
.main-nav-element > a{
    color: var(--light);
    text-decoration: none;
    padding: 1em 0;
}

.main-nav-element:first-child > a{
    color: var(--primary);
}
.main-nav-element:hover > a, .hover-element:hover > a {
    color:var(--secondary);
}
.button,.button.secondary:hover{
    background-color: var(--primary);
    color:var(--dark);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8em 1.8em;
    font-size: 1em;
    margin: auto 0;
    border: 1px solid var(--primary);
    transition: background 300ms ease-in,color 300ms ease-in;
}
.button:hover,.button.secondary{
    background-color: transparent;
    color: var(--primary);
}

.hover-menu{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:2em;
    background-color: var(--light);
    padding: 0;  
}
.hover-menu a {
    color:var(--dark);
    text-decoration: none;
    padding: 1em;
}

.menu-holder{
    position: relative;
    
}
.menu-holder:hover .hover-menu{
    visibility: visible;
}
.hover-element{
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
    padding: 5em var(--sidePadding);
    width: 100%;
}

@media (max-width: 768px){
    section{
        padding: 5em 3%;
    }
}


h1,h2,h3,h4,h5,h6{
    color:var(--light);
    font-family: var(--main-font);
    margin: 0;
    line-height: 1em;
}
h1{
    font-size: 5em;/* 3.5 x size of the root font*/
    width: 8.2ch;
}
h1::first-line{
    color:var(--primary);
}

@media (max-width: 768px){
    h1{
        width: 6ch;
    }
}


h2{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
}


@media (max-width: 768px){
    h2{
        font-size: 2em;
    }
}

h3{
    color:var(--secondary);
    font-size: 2.6rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}

@media (max-width: 768px){
    h3{
       font-size: 2em;
   }
}

h4{
    color:var(--secondary);
    font-size: 2rem;
}
h5{
    font-size: 1.2em;
    font-weight: 500;
    font-family: var(--secondary-font);
}
h6{
    margin-top: 0.5em;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--primary);
}
h6:hover{
    color: var(--secondary);
}
a{
    color: var(--light);
    text-decoration: none;
}
p{
    font-size: 1.1em;
}

@media (max-width: 768px){
     p{
        font-size: 0.9em;
    }
}
/*---------- HOME -----------------*/
#Home{
    height: 100vh;
    background: url(../images/background.jpg) ;
    background-size: cover;
    display: flex;
}

@media (max-width: 768px){
    #Home{
        background-position: 1130px;
    }
}

#Home::before{
    content: "  ";/* important */
    width: 100%;
    height: 17%;
    position: absolute;
    top: 0;
    left: 0;
    background : linear-gradient(to bottom, rgba(11, 0, 22, 0.6) 0%, rgba(11, 0, 22, 0.7) 65%, rgba(11, 0, 22, 1) 100%);
}

#Home > section{
    z-index: 1;
    justify-content: center;
}
#Home .info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#Home .info a{
    margin-bottom: 0.5em;
}
/*------------About ----------*/
#About {
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px){
    #About{
        flex-direction: column;
        align-items: flex-start;
    }
}

.about-sub{
    width: 50%;
}

@media (max-width: 768px){
    .about-sub{
        width: 100%;    
    }
}

.about-sub h2{
    width: 9ch;
    margin-bottom: 0.5em;
}


.about-container{
    display: flex;
    justify-content: space-between;
}
.about-counters{
    margin-top: 0.5em;
}
.about-counters p{
    font-weight: 600;
    text-transform: uppercase;
}


/*--------------------Speakers ------------*/
#Speakers .top-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}
.speaker{
    padding: 0 0.5em;
}
.speaker-visual{
    position: relative;
    overflow: hidden;
}
.speaker-visual .speaker-socials{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.speaker-visual .speaker-socials img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    background-color: var(--secondary);
    
}
.speaker-visual .speaker-socials img:hover{
    background-color: var(--primary);
}
.speaker-visual .speaker-socials .speaker-social{
    transform: translateY(5em);
    transition: transform 300ms ease-out;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(2){
    transition-delay: 100ms;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(3){
    transition-delay: 200ms;
}
.speaker-visual:hover .speaker-socials .speaker-social{
    transform: translateY(0);
}
.speaker-visual > img{
    transition: transform 300ms ease-out;
}
.speaker-visual:hover > img{
    transform: scale(1.1);
}
.speaker p{
    margin: 0.5em 0;
    color: var(--light);
}
.speaker p span{
    color:var(--grey);
}
.speakers .owl-nav{
width: calc(100% + 6em);
position: absolute;
display: flex;
margin: auto -3em;
justify-content: space-between;
top: 35%;
}
.speakers.speakers .owl-nav button{
    font-size: 5em;
}

/* details section */
#Details {
    flex-direction: row;
}

@media (max-width: 768px){
    #Details{
        flex-direction: column;
    }
}

.right-detail {
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px){
    .right-detail{
        margin-left: 0;
    }
}

.right-detail h2{
    width: 10ch;
}
.right-detail span{
    font-family: inherit;
    color: var(--primary);
}

.left-detail {
    width: 55%;
}

@media (max-width: 768px){
    .left-detail{
        width: 100%;
    }
}
/* schedule section */
#Schedule h2{
    margin-bottom: 1em;
}

.schedule-table {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    border-radius: 1.2em;
    padding: 2em;
}

.schedule-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.2em solid var(--grey);
}

.schedule-nav a{
    display: flex;
    padding: 1em 0;
    margin: 0 1em;
    font-size: 1.2rem;
    border-bottom: 0.3em solid transparent;
    transition: color 300ms ease-in, border-bottom-color 300ms ease-in;
}

.schedule-nav a:hover,.schedule-nav a.active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

.schedule-day{
    display: none;
    flex-direction: column;
}
.schedule-day.active {
    display: flex;
    animation: showOn 700ms ease-in;
}

@keyframes showOn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.schedule-content-element {
    border-bottom: 0.1em dashed var(--grey);
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
} 

.schedule-content-element li {
    list-style: '- ';
}

/* -------------------- Location --------------------*/
#Location{
    opacity: 0.5;
    transition: opacity 300ms ease-in;
    width: 100%;
}
#Location:hover {
    opacity: 1;
}
/* -----------------------------Sponsors------------------- */
.Sponsors{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--dark);
   padding: 4em 3em;
   border-radius: 1.2em;
}
.Sponsors h2{
   margin-bottom: 1.5em;
}
.Sponsors div{
   display: flex;
   width: 100%;
}
.Sponsors div img{
   width: 14%;
   margin: auto;
}

@media (max-width: 768px){
    .Sponsors div img{
        width: 14%;
        margin: auto;
     }
}

/*---------------------------- contact-------------------------------- */
#Contact{
  flex-direction: row;
   justify-content: space-between;
}

@media (max-width: 768px){
    #Contact{
        /* flex-direction: column; */
        flex-wrap: wrap;
     }
}

.contact-parts{
  width: 30%;
  display: flex;
   flex-direction: column;
}

@media (max-width: 768px){
    .contact-parts{
        width: 45%;
     }
     .contact-parts:last-child {
        width: 100%;
     }
}

.contact-parts img{
  width: 6em;
}
.contact-parts h5{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2em;
}

@media (max-width: 768px){
    .contact-parts h5{
        width: 45%;
     }

}
.contact-parts a{
  text-decoration: underline;
  color: var(--grey);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.contact-parts a:hover{
  color: var(--light);
}
.contact-parts a.contact-phone{
  color : var(--primary);
}
.contact-parts a.contact-phone:hover{
  color : var(--secondary);
}

.contact-parts p{
   margin-top: 0;
}
input {
   background-color: transparent;
    outline: none;
   border: 0.1em solid var(--primary);
   margin-bottom: 1em;
   font-size: 1.5em;
   padding: 0.5em 1em;
    color: var(--primary);
}

@media (max-width: 768px){
    .contact-parts input{
        height: 2em;
        width: 100%;
     }
    
}

.copyright-Line{
   width: calc(100% - var(--sidePadding));
   margin: auto;
}
.copyright{
   margin: 1em auto;
   }
footer{
   display: flex;
    flex-direction: column;
}

/* --------------------------scroll bar-------------------------- */
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollber-track{
    background-color: var(--dark);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary);
}


/* ------------------regestration form ----------------------- */
#regestration{
    display: none;
    position: fixed;
    z-index: 20000;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color:var(--dark);
}

#regestration.open {
    display: flex;
}

.modal-content {
    background-color: var(--dark);
    margin: auto;
    padding: 2em;
    box-shadow: var(--grey);
    max-height: calc(100% - 3em);
    display: flex;
    flex-direction: column;
    
}

.close {
    color: var(--grey);
    margin-left: auto;
    font-size: 2em;
    font-weight: bold;
    align-self: flex-end;
    padding: 0;
    background-color: var(--dark);
    border: none;
}

.close:hover {
    transition: color 200ms ease-in;
    color: var(--light);
}

.modal-content h2 {
    margin: 0 auto;
    text-transform: uppercase;
}

.modal-content form {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 3em;
    overflow-y: auto;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 2em;
    padding: 0.5em 1em ;
}

label {
    font-weight: 600;
    color: var(--light);
    font-size: 1.1em;
}

.form-input {
    width: 70%;
    font-size: 1.2em;
    margin-bottom: 0;
}

.form-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

#Btn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    /* border: none;
    outline: none;
    background-color: red;
    color: white;  */
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


